.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    height: 100vh;
}

.cabecalho {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    background-color: #9576A8;
    height: 43px;
    max-height: 43px;
    padding: 5px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.navegacao {
    display: flex;
    flex-direction: column;
    width: 310px;
    min-width: 310px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f0eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navegacao>div {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: rgb(163, 159, 159);
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 10px;
}

.navegacao>div:hover {
    background-color: #d8d4d4;
    border-radius: 4px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: rgb(163, 159, 159);
}

.imagem-logo {
    width: 90px;
    height: 40px;
    align-items: center;
}

.imagem-pesquisar {
    width: 25px;
    height: 25;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 8px;
    float: left;
}

.imagem-menu {
    height: 35px;
    width: 45px;
    padding-top: 5px;
    cursor: pointer;
}

.imagem-tarefa {
    width: 40px;
    height: 27px;
}

.imagem-lista {
    width: 40px;
    height: 22px;
}

.imagem-config {
    width: 27px;
    height: 23px;
    margin-right: 5px;
    margin-left: 5px;
}


.pesquisa {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #ccb3db;
    margin-right: 15px;
    padding: 2px;
}

.pesquisar {
    background-color: #ccb3db;
    font-size: 14px;
}

.minhas-tarefas,
.tarefas-concluidas {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.add-tarefa {
    font-size: 14px;
    color: blue;
    cursor: pointer;
}

.tarefa{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2eaf7;
    border-radius: 5px;
}

.tarefa>div{
    display: flex;
    align-items: center;
    justify-items: center;
}

.tarefa>div>p{
    margin-left: 15px;
    font-size: 17px;
    font-weight: 650;
    color: #7a7a7a;
}

.editar-tarefa {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    background-color: #f1f0eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.editar-tarefa>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 4px;
}

.editar-tarefa>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.editar-botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titulo-edicao {
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.lista>input {
    font-size: 18px;
    font-weight: 500;
}

.container-tarefas{
    border-radius: 5px;
    max-height: 325;
    overflow: auto;
}

.container-concluida{
    border-radius: 5px;
    max-height: 325;
    overflow: auto;
}

.alert{
    position: relative;
    padding: 0rem 1rem;
    margin-top: 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
