html,
body {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 23px;
}

button{
    border: 0;
    border-radius: 5px;
    background-color: #9576A8;
    margin: 10px 0;
    padding: 10px;
    color: white;
}

input[type=image]{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

form{
    padding: 0;
    margin: 0;
}

textarea,
input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    padding-left: 10px;
    border: 0;
    border-radius: 4px;
    resize: none;
    background-color: rgb(252, 252, 252);
    outline: none;
}

textarea:disabled,
input:disabled {
    background-color: inherit;
    resize: none;
    border: 0px;
}