.mb-1 {
    margin-bottom: 5px;
}

.mr-1{
    margin-right: 5px;
}

.mr-2{
    margin-right: 10px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.d-none{
    display: none !important;
}

.d-flex{
    display: flex !important;
}

.cursor-pointer{
    cursor: pointer;
}